.signup-form .form-group {
    margin-bottom: 1.5rem; /* Add spacing between fields */
}

.signup-form .form-label {
    margin-bottom: 0.5rem; /* Space between label and input field */
    font-weight: 500;
}

.signup-form .form-control, .signup-form .react-datepicker-wrapper {
    border-radius: 8px;
}

.signup-form .react-datepicker-wrapper {
    width: 100%;
}

.signup-modal .modal-header {
    background-color: #f8f9fa;
    border-bottom: none;
    padding: 1rem 1.5rem;
}

.signup-modal .modal-title {
    color: #343a40;
}

.signup-form .form-control {
    border-radius: 8px;
    border: 1px solid #ced4da;
    padding: 10px;
}

.signup-btn {
    background-color: #28a745;
    border: none;
    padding: 12px;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 18px;
    width: 100%;
}

.signup-btn:hover {
    background-color: #218838;
}

.signup-modal .modal-body {
    padding: 2rem;
    background-color: #fff;
}

.signup-modal .modal-content {
    border-radius: 10px;
}
